/*Estilos generales*/
body{
    font-family: 'Oswald', sans-serif;
}
/*Estilos de primer nivel*/ 
nav ul{
    list-style: none;
    padding: 0;
}
/*Estilos de segundo nivel*/
/*Estilos de tercer nivel*/ 